[submodule "React-Assign-2"]
	path = React-Assign-2
	url = git@github.com:garvit-systango/React-Assign-2.git
[submodule "React-Assign-TanStack"]
	path = React-Assign-TanStack
	url = git@github.com:garvit-systango/React-Assign-TanStack.git
[submodule "Garvit-Assign"]
	path = Garvit-Assign
	url = git@github.com:garvit-systango/Garvit-Assign.git
